/* General Tag definitions */
a {
	color: black;
}
br{
	clear:both;
}
body {
	width: 90%;
	margin: auto;
	font-family: sans-serif;
}
li{
	list-style: square;
}
/* Menu and footer defintions */
menu a, footer a {
	color: white;
}
menu a:visted {
	color: white;
}
menu, footer{
	padding: 0;
	width: 100%;
	background-color: black;
}
menu ul, footer ul {
	padding: 0;
	margin: 0;
	padding: 20px 0;
	list-style: none;
}
menu li, footer li {
	display: inline-block;
	width: 33.33%;
	text-align: center;
}
footer {
	margin-bottom: 1em;
}

/* Formating the source code and its snippets*/
.sourcecodeSnippet {
	font-size: 120%;
	font-family: monospace;
	white-space: nowrap;
}
.sourcecodeSnippet .lineNumbers {
	float:left;
	text-align: right;
	padding: 0 .5em;
	border-right: 1px solid black;
}
.sourcecodeSnippet .code {
	float:left;
	width: 0;
	margin-left: 1em;
	overflow: auto none;
}
code .keyword {
	color: blue;
	font-weight: bold;
}
code .names {
	color: purple;
}
code .stringLiteral {
	color: #46A346;
}


@media (max-width: 600px) {
	body{
		width: 98%;
		font-size: 90%
	}
	menu ul li, footer ul li {
		display: block;
		width: 100%;
		margin: 1em auto;
	}
	menu ul, footer ul{
		padding: .5em 0;
	}
}
