/* General Tag definitions */
a {
	color: black;
}
pre, code{
    padding: 0;
    margin: 0;
}

br{
	clear:both;
}
body {
	width: 90%;
	margin: auto;
	font-family: sans-serif;
}
li{
	list-style: square;
}
/* Menu and footer defintions */
menu a, footer a, menu a:visited{
	color: white;
}
menu, footer{
	padding: 0;
	width: 100%;
}
menu ul, footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
menu ul li, footer ul li {
        display: inline-block;
	width: 33.33%;
        height: 100%;
	text-align: center;
        background-color: black;
}
menu ul li p, footer ul li p{
        padding: 20px 0;
        margin: 0;
}
footer {
	margin-bottom: 1em;
}

/* Formating the source code and its snippets*/
.sourcecodeSnippet{
    margin: 1em 0;
}
.sourcecodeSnippet, .inlineCodeSnippet {
	font-family: monospace;
	white-space: nowrap;
}
.sourcecodeSnippet > *{
    display: inline-block;
    vertical-align: top;
    font-size: 125%;
}
.sourcecodeSnippet pre.lineNumbers {
    margin-right: 1em;
	text-align: right;
	padding: 0 .5em;
	border-right: 1px solid black;
}
.sourcecodeSnippet code {
	display: block;
	width: 0;
	overflow: auto none;
}
.inlineCodeSnippet {
    display: inline;
    font-size: 125%;
}

/* Formating the code highlighting */
code .keyword {
	color: blue;	
}
code .names {
	color: purple;
}
code .stringLiteral {
	color: darkred;
}
code .preprocessor{
    color: darkgreen;
}

code .comment{
    color: #666666;
}

/* Media querries for mobile devices */
@media (max-width: 600px) {
	body{
		width: 98%;
		font-size: 90%
	}
	menu ul li, footer ul li {
		display: block;
		width: 100%;
		margin: 1em auto;
	}
	menu ul, footer ul{
                padding: 0;
	}
        menu{
                margin-top: 0;
        }
}
